.footer {
  background-color: rgb(33, 35, 37);
  text-align: center;
  padding: 60px;
}

.footer a {
  color: rgb(55, 228, 151);
  font-size: 30px;
}

.footer p {
  color: rgb(164, 156, 144);
}

.footer .fas {
  color: rgb(241, 74, 77);
}